-e git+https://github.com/mjiggidy/imflib.git@421b3c54df3d8b70623faea1f19d397498a1da53#egg=imflib
-e git+https://github.com/mjiggidy/posttools.git@e5e5728bcedf9f76eb2bcfc2368ed1d33d93709c#egg=posttools
